$background: #1F1726;
$foreground: #DAFAFF;
$color0:  #000507;
$color1:  #D94085;
$color2:  #2AB250;
$color3:  #FFD16F;
$color4:  #883CDC;
$color5:  #ECECEC;
$color6:  #C1B8B7;
$color7:  #FFF8DE;
$color8:  #009CC9;
$color9:  #DA6BAC;
$color10: #F4DCA5;
$color11: #EAC066;
$color12: #308CBA;
$color13: #AE636B;
$color14: #FF919D;
$color15: #E4838D;


$custom: (
  footer-background-color: $color8,
  footer-color: $color7,
  link: $color1,
  link-hover: $color8,
  title-color: $color5,
  meta-color: $foreground,
  body-color: $foreground,
  hr-color: $color8,
  body-background-color: $background,
  backdrop-background-color: $color0,
  dropdown-border-top-color: $color8,
  dropdown-item-active-background-color: $color8,
  dropdown-content-background-color: $color8,
  dropdown-item-hover-background-color: lighten($color0, 20%),
  dropdown-item-hover-color: $foreground,
  dropdown-item-color: $foreground,
  navbar-border-bottom-color: $color8,
  navbar-background-color: $color8,
  navbar-mobile-background-color: lighten($color0, 15%),
  navbar-title-color: $foreground,
  navbar-title-hover-color: $color1,
  navbar-title-active-color: $color8,
  navbar-menu-hover-background-color: lighten($color8, 5%),
  navbar-dropdown-item-hover-color: $color1,
  sidebar-title-color: $color5,
  sidebar-li-color: $foreground,
  taxo-title-color: $color7,
  taxo-num-color: $foreground,
  taxo-num-background-color: $color0,
  taxo-tags-background-color: lighten($color0, 13%),
  taxo-tags-color: $color6,
  taxo-series-background-color: lighten($color0, 13%),
  taxo-series-color: $color3,
  taxo-categories-background-color: lighten($color0, 13%),
  taxo-categories-color: $color5,
  breadcrumb-item-color: $color4,
  breadcrumb-background-color: $color0,
  breadcrumb-item-active-color: $color7,
  list-header-title-color: $foreground,
  figcaption-color: $color7,
  figcaption-strong-color: $foreground,
  single-hr-background-color: $color8,
  single-blockquote-border-color: $foreground,
  single-header-title-color: $color9,
  single-contents-title-color: $color5,
  single-contents-subtitle-color: $color13,
  related-header-title-color: $foreground,
  related-link-color: $color3,
  content-box-border-color: $color8,
  content-box-background-color: $color8,
  burger-menu-color: $foreground,
  social-icon-color: $color7,
  social-icon-hover-color: lighten($color7, 20%),
  pagination-link-color: $color4,
  pagination-background-color: $color0,
  pagination-disabled-color: $color8,
  pagination-number-color: $foreground,
  terms-title-color: $foreground,
  terms-title-shadow-color: $color8,
  terms-tags-color: $color6,
  terms-categories-color: $color5,
  terms-series-color: $color3,
  terms-len-color: $color8,
  toc-label-color: $color8,
  toc-title-color: $color7,
  toc-vertical-line: $color8,
  toc-vertical-line-active: $color8,
  toc-header-background-color: $color8,
  toc-header-background-color-hover: lighten($color8, 10%),
  toc-body-background-color: $color8,
  search-placeholder-color: $color8,
  search-color: $foreground,
  search-icon-color: $color8,
  search-border-color: $color0,
  search-border-outline-color: rgba($color8, 0.45),
  search-border-active-color: $color8,
  search-content-color: inherit,
  search-background-color: $color0,
  search-content-background-color: lighten($color8, 5%),
  search-hover-background-color: $color8,
  search-highlight-color: $color8,
  selection-color: $foreground,
  selection-background-color: $color8,
  archive-key-color: $foreground,
  archive-type-color: $color4,
  archive-meta-color: $color5,
  archive-key-background-color: $color8,
  archive-type-background-color: $color8,
  archive-hover-line-color: $color8,
  gtt-color: $color7,
  gtt-background-color: $color8,
  gtt-hover-color: $color4,
  gtt-hover-background-color: lighten($color8, 5%),
  switch-background-color: $color8,
  switch-button-color: $foreground,
  switch-active-color: $color8,
  gallery-mask-color: $foreground,
  gallery-mask-background-color: rgba($color0, 0.7),
  contact-input-color: $foreground,
  contact-input-background-color: lighten($color8, 5%),
  contact-button-background-color: lighten($color8, 5%),
  custom-scrollbar-foreground-color: $color8,
  custom-scrollbar-background-color: $color7,
  share-color: $foreground,
  share-shadow-color: $color8,
  share-background-color: lighten($color8, 2.5%),
  donation-background-color: $color8,
  button-primary-color: $color1,
);

