$dark: (
    footer-background-color: #313244,
    footer-color: #bdbdbd, 
    link: #FAB387,
    link-hover: #585b70,
    title-color: #cba6f7,
    meta-color: #cdd6f4,
    body-color: #cdd6f4,
    hr-color: #595B5C,
    body-background-color: #1E1E2E, // Body Column Background
    backdrop-background-color: #11111B, // Background
    dropdown-border-top-color: #424242,
    dropdown-item-active-background-color: #424242,
    dropdown-content-background-color: #595B5C,
    dropdown-item-hover-background-color: #727072,
    dropdown-item-hover-color: #cdd6f4,
    dropdown-item-color: #cdd6f4,    
    navbar-border-bottom-color: #585B70,
    navbar-background-color: #313244, // navbar bg
    navbar-mobile-background-color: #3a3a3a,
    navbar-title-color: #cdd6f4,
    navbar-title-hover-color: #FAB387,
    navbar-title-active-color: #585b70,
    navbar-menu-hover-background-color: lighten(#313244, 5%),
    navbar-dropdown-item-hover-color: #FAB387,
    sidebar-title-color: #f5c2e7,
    sidebar-li-color: #cdd6f4,
    taxo-title-color: #bdbdbd,
    taxo-num-color: #cdd6f4,
    taxo-num-background-color: #11111B,
    taxo-tags-background-color: lighten(#11111B, 13%),
    taxo-tags-color: #78DCE8,
    taxo-series-background-color: lighten(#11111B, 13%),
    taxo-series-color: #EA9C77,
    taxo-categories-background-color: lighten(#11111B, 13%),
    taxo-categories-color: #AB9DF2,
    breadcrumb-item-color: #89b4fa,
    breadcrumb-background-color: #11111B,
    breadcrumb-item-active-color: #bdbdbd,
    list-header-title-color: #cdd6f4,
    figcaption-color: #bdbdbd,
    figcaption-strong-color: #cdd6f4,
    single-hr-background-color: #595B5C,
    single-blockquote-border-color: #cdd6f4,
    single-header-title-color: #f5e0dc,
    single-contents-title-color: #f5c2e7,
    single-contents-subtitle-color: #cba6f7,
    related-header-title-color: #cdd6f4,
    related-link-color: #f9e2af,
    content-box-border-color: #616161,
    content-box-background-color: #313244,
    burger-menu-color: #cdd6f4,
    social-icon-color: #bdbdbd,
    social-icon-hover-color: lighten(#bdbdbd, 20%),
    pagination-link-color: #89b4fa,
    pagination-background-color: #11111B,
    pagination-disabled-color: #757575,
    pagination-number-color: #cdd6f4,
    terms-title-color: #ddd,
    terms-title-shadow-color: #313244,
    terms-tags-color: #78DCE8,
    terms-categories-color: #AB9DF2,
    terms-series-color: #EA9C77,
    terms-len-color: #727072,
    toc-label-color: #727072,
    toc-title-color: #90a4ae,
    toc-vertical-line: #727072,
    toc-vertical-line-active: #585b70,
    toc-header-background-color: #313244,
    toc-header-background-color-hover: #424242,
    toc-body-background-color: #313244,
    search-placeholder-color: #727072,
    search-color: #cdd6f4,
    search-icon-color: #727072,
    search-border-color: #1d1d1d,
    search-border-outline-color: rgba(66, 66, 66, 0.45),
    search-border-active-color: #424242,
    search-content-color: inherit,
    search-background-color: #11111B,
    search-content-background-color: lighten(#313244, 5%),
    search-hover-background-color: #313244,
    search-highlight-color: #585b70,
    selection-color: #cdd6f4,
    selection-background-color: #585b70,
    archive-key-color: #cdd6f4,
    archive-type-color: #89b4fa,
    archive-meta-color: #f5c2e7,
    archive-key-background-color: #585b70,
    archive-type-background-color: #424242,
    archive-hover-line-color: #585b70,
    gtt-color: #bdbdbd,
    gtt-background-color: #313244,
    gtt-hover-color: #89b4fa,
    gtt-hover-background-color: lighten(#313244, 5%),
    switch-background-color: #313244,
    switch-button-color: #cdd6f4,
    switch-active-color: #585b70,
    gallery-mask-color: #cdd6f4,
    gallery-mask-background-color: rgba(0, 0, 0, 0.7),
    contact-input-color: #cdd6f4,
    contact-input-background-color: lighten(#313244, 5%),
    contact-button-background-color: lighten(#313244, 5%),
    custom-scrollbar-foreground-color: #888,
    custom-scrollbar-background-color: #eee,
    share-color: #dbdbdb,
    share-shadow-color: #888,
    share-background-color: lighten(#313244, 2.5%),
    donation-background-color: #525252,
    button-primary-color: $button_dark_primary_color,
);